* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.navbar {
  margin: 20px;
  width: 75vw;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 20px;
}

.add-book {
  background: url(Icons/book-plus-multiple.svg) no-repeat center;
  width: 40px;
  height: 40px;
}

.reset-library {
  background: url(Icons/reset.svg) no-repeat center;
  width: 40px;
  height: 40px;
}

.blur {
  filter: blur(5px);
}

hr {
  width: 75vw;
  margin: 20px auto;
}

.display-book {
  width: 95vw;
  margin: auto;
}

.intro {
  font-size: 1.4rem;
  font-weight: bold;
}

.flexview {
  width: 70vw;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.book-sample {
  border: 3px solid black;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  width: 16rem;
  height: 16rem;
  padding: 1rem;
}

p.title {
  font-size: 1.7rem;
  font-weight: 540;
  word-wrap: break-word;
  text-transform: uppercase;
}

p.author {
  font-size: 1.5rem;
  text-align: right;
  font-style: italic;
}

span {
  font-size: 1.3rem;
  text-align: left;
}

button.status {
  width: 8rem;
  height: 30px;
  margin-top: auto;
  border-radius: 10px;
  border: black 2px solid;
}

.btn-light-green {
  background-color: lightgreen;
}

.btn-light-red {
  background-color: lightcoral;
}

button.remove-book {
  background: url(Icons/delete-empty.svg) no-repeat;
  height: 40px;
  margin-top: 0.5rem;
  align-self: flex-end;
  width: 40px;
  box-shadow: grey 2px 2px 3px;
}

button.remove-book:hover {
  background-color: rgba(255, 0, 0, 0.5);
  transform: rotate(180deg);
  transition: 0.3s;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  min-width: 30vw;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  background-color: #b5adad31;
  border-radius: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  margin-top: 10vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

legend {
  font-size: 25px;
  text-decoration: underline;
}

fieldset {
  border: 4px grey groove !important;
}

.add-button {
  height: 50px;
  width: 200px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

.formDisplay {
  display: none;
}
